body{
	background-image: url("../slike/kljuc.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: green;
}
input[type=reset] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset]:hover {
    background-color: red;
}

/* Add a background color and some padding around the form */
.kontejner {
    border-radius: 5px;
    background-color: grey;
    padding: 20px;
    opacity: 0.7;
}

#tabela{
	background-color: grey;
	opacity: 0.8;
    text-align: center;
}
h3{
	text-align: center;
}
#map{
	width:50%; height: 400px; float: left;
}
.tekst{
    color: white;
}
#foter{
    text-align: center;
    bottom: 0;
    width: 100%;
    position: static;
    color: grey;
}